<h3><%= event.escape('title') %></h3>
<%= event.escape('time') %>
<%= event.escape('location') %>

<% if (event.organizer){ %>
  <div>
    Organized By: <%= event.organizer.username %>
  </div>
<% } %>

<hr>
<div>
  <%= event.escape('description') %>
</div>

<button class="return-to-landing">Back</button>
