<h3><%= event.escape('title') %></h3>
<%= event.get('date_time') %>
<%= event.escape('location') %>

<% if (event.organizer){ %>
  <div>
  Organized By: <%= event.organizer.username %>
  </div>
<% } %>

<hr>
<div>
  <%= event.escape('description') %>
</div>

<% if (event.get('owned')) { %>
  <button class="edit-event">Edit</button>
  <button class="delete-event">Delete</button>
<% } %>
<button class="return-to-landing">Back</button>
