<h3><%= event.escape('title') %></h3>
<%= event.dateTime %>
<%= event.escape('location') %>

<% if (event.organizer){ %>
  <div>
  Organized By: <%= event.organizer.username %>
  </div>
<% } %>

<hr>
<div>
  <%= event.escape('description') %>
</div>

<hr>

<% if (event.owned) { %>
  <button class="btn btn-red edit-event">Edit</button>
  <button class="btn btn-red delete-event">Delete</button>
<% } else { %>
  <button id="joined-event" class="btn btn-red join-event">Reserve Spot!</button>
<% } %>
