<h3>Edit Group:</h3>

<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |err| %>
      <li><%= err %></li>
    <% end %>
  </ul>
<% end %>

<form action="/groups/<%= @group.id %>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <input
    type="hidden"
    name="_method"
    value="patch">

  <div>
    <input
      type="text"
      name="group[title]"
      placeholder="Title"
      value="<%= @group.title %>">
  </div>

  <div>
    <textarea name="group[description]"
      rows="8" cols="40"
      placeholder="Description"><%= @group.description %></textarea>
  </div>

  <input type="submit" value="Update!">
</form>
