<h3><%= @group.title %></h3>

<div>
  Created by:
  <a href="/users/<%= @group.organizer.id %>">
    <%= @group.organizer.username %>
  </a>
</div>

<div>
  <%= @group.description %>
</div>

<div>
  <%= button_to "Edit", edit_api_group_url(@group), method: :get %>
</div>

<div>
  <%= button_to "Destroy!", api_group_url(@group), method: :delete %>
</div>

<div>
  <a href="/api/groups">All Groups</a>
</div>
