<h3><%= group.escape('title') %></h3>

<% if (group.organizer){ %>
  <div>
    Organized By: <%= group.organizer.username %>
  </div>
<% } %>

<hr>

<div>
  <%= group.escape('description') %>
</div>

<hr>

<% if (group.get('owned')) { %>
  <button class="edit-group">Edit</button>
  <button class="delete-group">Delete</button>
<% } else { %>
  <button id="joined" class="join-group">Join Us!</button>
<% } %>

<button class="return-to-landing">Back</button>

<hr>

<div class="group-events">
  <h4>Events:</h4>
  <ul>
    <% if (group.events) { %>
      <% group.events.forEach(function (event) { %>
        <li><a href="#/events/<%= event.id %>"><%= event.title %></a></li>
      <% }) %>
    <% } %>
  </ul>

  <% if (group.get('owned')) { %>
    <button class="create-event">Create Event!</button>
  <% } %>
</div>
