<!DOCTYPE html>
<html>
<head>
  <title>PickUp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
</head>
<body>

<script>
  filepicker.setKey("<%= ENV['filepicker_api_key'] %>");
</script>

<%= yield %>

<div id="footer">
  <div class="created-by">Created by Tripp Davis</div>
  <div class="linked-in"><a class="footer-a" href="http://linkedin.com/in/kbdavis3/">Linked In</a></div>
  <div class="github-repo"><a class="footer-a" href="https://github.com/trippdavis/PickUp">Project Repo</a></div>
</div>

</body>
</html>
