<!DOCTYPE html>
<html>
<head>
  <title>PickUp</title>
  <link rel="shortcut icon" href="/assets/PickUp-img.ico">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
</head>
<body>

<script>
  filepicker.setKey("<%= ENV['filepicker_api_key'] %>");
</script>

<%= yield %>

</body>
</html>
